@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "reset";

:root {
  color-scheme: dark;
}

* {
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 1rem;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 1rem;
}

textarea {
  width: 300px;
  resize: none;
  padding: 0.5rem 1rem;
}

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #333;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;

  .keyboard-keys {
    text-align: center;
    max-width: 1100px;
    margin-inline: auto;

    .keyboard-key {
      height: 45px;
      width: 6%;
      max-width: 100px;
      margin: 0.3rem 0.15rem;
      border-radius: 0.25rem;
      border: none;
      background-color: rgba(0, 0, 0, 0.2);
      font-size: 1.05rem;
      outline: none;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: top;
      padding: 0;
      -webkit-tap-highlight-color: transparent;
      position: relative;

      &:active {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    .keyboard-key-wide {
      width: 12%;
    }
    .keyboard-key-extra-wide {
      width: 36%;
      max-width: 500px;
    }
    .keyboard-key-activatable {
      &::after {
        content: "";
        top: 0.5rem;
        right: 0.5rem;
        position: absolute;
        width: 0.5rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    .keyboard-key-active {
      &::after {
        background-color: #fff;
      }
    }
    .keyboard-key-dark {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.keyboard-hidden {
  bottom: -100%;
}

@media (max-width: 500px) {
  * {
    font-size: 70%;
  }
  .keyboard .keyboard-keys .keyboard-key {
    height: 35px;
  }

  i.material-icons {
    font-size: 1.5rem;
  }
}
